.warpper {
  height: 100%;
  width: 400px;
}

.header {
  height: 100px;
  width: 400px;
  background-color: #141f40;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;

    &__inner {
      height: 60px;
      width: 160px;
      background-color: white;
      margin: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-left: auto;
    }

  .header__box {
    margin-right: 10px;

    &--red {
      background-color: #a9004d;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 5px;
    }
    &--orange {
      background-color: #ff863f;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
    &--blue {
      background-color: #0000ff;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 10px;
    }
  }
}

.content {
  height: 250px;
  width: 400px;
  display: flex;

.sidebar {
  height: 250px;
  width: 150px;
  background-color: #80bfa8;
  display: flex;
}

  .main {
    height: 250px;
    width: 250px;
    background-color: #8c2727;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    .main__box:first-child {
      margin-top: 40px;
    }

    &__box {
      height: 50px;
      width: 150px;
      background-color: #ffffff;
      margin-left: 40px;
      margin-top: 15px;
      display: flex;
      align-items: center;

      &--red {
        background-color: #a9004d;
        width: 140px;
        height: 40px;
        margin: 5px;
      }

      &--orange {
        background-color: #ff863f;
        width: 140px;
        height: 40px;
        margin: 5px;
      }

      &--blue {
        background-color: #0000ff;
        width: 140px;
        height: 40px;
        margin: 5px;
        }
      }
    }
  }

.footer {
  height: 100px;
  width: 400px;
  background-color: #d98d30;
}