@use 'variable';
@use 'mixin';

.warpper {
  height: 100%;
  width: variable.$width;
}

.header {
  height: variable.$height;
  width: variable.$width;
  background-color: #141f40;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;

    &__inner {
      height: 60px;
      width: 160px;
      background-color: variable.$white;
      margin: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-left: auto;
    }

  .header__box {
    margin-right: variable.$margin;
    width: variable.$header-size;
    height: variable.$header-size;
    margin-top: variable.$margin;
    margin-bottom: variable.$margin;

    @each $name, $margins in variable.$header-margins {
      &--#{$name} {
        @include mixin.header-box(
          map-get(variable.$buttonColor, $name),
          $margins
        );
      }
    }
  }
}

.content {
  height: 250px;
  width: variable.$width;
  display: flex;

.sidebar {
  width: 150px;
  background-color: variable.$green;
  display: flex;
}

  .main {
    width: 250px;
    background-color: variable.$red;
    list-style: none;
    position: relative;

    .main__box:first-child {
      margin-top: variable.$header-size;
    }

    &__box {
      height: 50px;
      width: 150px;
      background-color: variable.$white;
      margin-left: variable.$header-size;
      margin-top: 10px;
      display: flex;
      align-items: center;

      @each $name, $color in variable.$buttonColor {
        &--#{$name} {
          background-color: $color;
          width: variable.$inner-width;
          height: variable.$header-size;
          margin: variable.$inner-margin;
        }
      }
    }
  }
}

.footer {
  height: variable.$height;
  width: variable.$width;
  background-color: variable.$brown;
}