@use "variable";
@use "mixin";
@use "sass:map";

.wrapper {
  height: 100%;
  width: variable.$width;
}

.header {
  background-color: variable.$navy;
  display: flex;

  &__inner {
    height: 60px;
    width: 160px;
    background-color: variable.$white;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-left: auto;
  }

  .header__box {
    margin-right: variable.$margin;
    width: variable.$header-size;
    height: variable.$header-size;
    margin-bottom: variable.$margin;

    @each $name in variable.$classNames {
      $index: index(variable.$classNames, $name);

      &--#{$name} {
        @include mixin.header-box(
          nth(variable.$buttonColor, $index),
          nth(variable.$header-margins, $index),
          variable.$header-size
        );
      }
    }
  }
}

.content {
  height: 250px;
  width: variable.$width;
  display: flex;

  .sidebar {
    width: 150px;
    background-color: variable.$green;
    display: flex;
  }

  .main {
    width: 250px;
    background-color: variable.$red;
    list-style: none;
    position: relative;

    .main__box:first-child {
      margin-top: variable.$header-size;
    }

    &__box {
      height: 50px;
      width: 150px;
      background-color: variable.$white;
      margin-left: variable.$header-size;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      @each $color in variable.$classNames {
        $index: index(variable.$classNames, $color);
        &--#{$color} {
          @include mixin.header-box(
            nth(variable.$buttonColor, $index),
            nth(variable.$header-margins, $index),
            variable.$inner-width
          );
        }
      }
    }
  }
}

.footer {
  height: variable.$height;
  width: variable.$width;
  background-color: variable.$brown;
}
